[user]
	name = acucchieri
	email = acucchieri@users.noreply.github.com
[push]
	default = matching
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	filemode = false
	excludesfile = ~/.gitignore_global
