# export: apm list --installed --bare > packages.cson
# import: apm install --packages-file packages.cson
Sublime-Style-Column-Selection@1.7.2
atom-autocomplete-php@0.19.4
atom-beautify@0.29.11
atom-symfony2@0.2.1
git-time-machine@1.5.3
hyperclick@0.0.37
less-autocompile@1.0.0
linter@1.11.16
linter-less@2.6.0
linter-php@1.2.0
minimap@4.25.0
php-cs-fixer@2.5.9
php-debug@0.2.3
php-getters-setters@0.5.5
php-twig@4.0.0
pigments@0.34.0
